# Dependency directories
node_modules/
jspm_packages/
*.log

# Java
**/target/

# Optional npm cache directory
.npm

/.idea/
code/Orchestra/Auditor/target/
code/Orchestra/Musician/target/
/ParentProject.iml
/Main.iml
